.about {
  padding-left: 20px;
  padding-right: 20px;

  &__main-container {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
  }
  &__picture {
    margin-top: 20px;
    max-width: 243px;
  }
  &__container {
    margin-top: 20px;
  }
  &__team {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: var(--main-title-color);
  }
  &__list {
    margin-top: 20px;
  }
  &__items {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
  }
  &__element {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.65;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: var(--accent-color);
  }
  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.17;
    color: var(--main-paragraph-color);
  }
  &__link {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    text-decoration-line: underline;
    color: var(--accent-color);
  }
}
