:root {
  --main-font: 'Montserrat', sans-serif;
  --accent-color: #ff6b09;
  --main-title-color: #111518;
  --main-paragraph-color: #b9b9b9;
  --second-text-color: #ffffff;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
