<!-- ================About================= -->

<section class="about">
    <div class="about__main-container">
        <h2 class="about__title">Teacher</h2>
        <div class="about__picture">
            <picture>
                <source srcset="./images/about/descktop-about.webp 1x, ./images/about/descktop-about@2x.webp 2x"
                    media="(min-width: 1366px)" type="image/webp" />
                <source srcset="./images/about/descktop-about.jpg 1x, ./images/about/descktop-about@2x.jpg 2x"
                    media="(min-width: 1366px)" />
            
                <source srcset="./images/about/tablet-about.webp 1x, ./images/about/tablet-about@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp" />
                <source srcset="./images/about/tablet-about.jpg 1x, ./images/about/tablet-about@2x.jpg 2x"
                    media="(min-width: 768px)" />
            
                <source srcset="./images/about/mobile-about.webp 1x, ./images/about/mobile-about@2x.webp 2x"
                    media="(max-width: 767px)" type="image/webp" />
                <source srcset="./images/about/mobile-about.jpg 1x, ./images/about/mobile-about@2x.jpg 2x"
                    media="(max-width: 767px)" />
            
                <img class="about__img" src="#" alt="Elena Moreva" />
            </picture>
        </div>
        
        <div class="about__container">
            <h3 class="about__team">Elena Moreva</h3>
            <ul class="about__list list">
                <li class="about__items">6 yeards of experience in preparing students for UPE</li>
                <li class="about__items">Own result of passing VNO - 197 points 2 years in a row</li>
                <li class="about__items">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)</li>
            </ul>
            <span class="about__element">—</span>
            <p class="about__text">Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.In spare time
            takes courses from the best universities in the world on effective teaching and essay writing techniques.Completed:
            English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to Write an
            Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for
            Teaching and Learning (University of Houston).</p>
            <a class="about_link link list" href="#">Cambrige English Entry Level Certificate</a>
        </div>
    </div>
</section>