<section class="adventure container">
    <div class="adventure__box">
        <ul class="adventure__list list">
            <li class="adventure__items">
                <svg class="adventure__icon">
                    <use href="./images/sprite.svg#icon-student"></use>
                </svg>
                <p class="adventure__text">Adapted author's
                UPE program</p>
            </li>
            <li class="adventure__items">
                <svg class="adventure__icon">
                    <use href="./images/sprite.svg#icon-phone-education"></use>
                </svg>
                <p class="adventure__text">Modern<br>
                teaching methods</p>
            </li>
            <li class="adventure__items">
                <svg class="adventure__icon">
                    <use href="./images/sprite.svg#icon-ambrela"></use>
                </svg>
                <p class="adventure__text">Financial guarantee<br>
                the result</p>
            </li>
        </ul>
    </div>
</section>