<section class="contacts">
    <div class="contacts__wrapper container">
        <h3 class="contacts__title">Registration for a
            <span class="contacts__title__text-accent">free</span>phone
            <span class="contacts__title__text-accent">consultation</span>
            on the nuances of English UPE
        </h3>

        <p class="contacts__contacts-paragraph">Leave a request for participation in a
            <span class="contacts__title__text-accent">free lesson</span>.
            A consultant will contact you and answer your questions
        </p>
        <div class="contacts__form__wrapper">
            <form method="POST" class="contacts__form">
                <input type="text" class="contacts__form-input__name" placeholder="Name*">
                <input type="text" class="contacts__form-input__phone" placeholder="Phone*">
                <button type="submit" class="contacts__form-btn">i want a free lesson</button>
            </form>
        </div>
    </div>
</section>