<section class="contacts">
    
    <h3 class="contacts__contacts-title">Registration for a
        <span class="contacts__contacts-title_orang-text">free</span>phone
        <span class="contacts__contacts-title_orang-text">consultation</span>
        on the nuances of English UPE
    </h3>

    <p class="contacts__contacts-paragraph">Leave a request for participation in a
        <span class="contacts__contacts-title_orang-text">free lesson</span>.
        A consultant will contact you and answer your questions
    </p>

<form action="#" method="POST" class="contacts__contacts-form">
    <input type="text" class="contacts__contacts-form-input_name" placeholder="Имя*">
    <input type="text" class="contacts__contacts-form-input_phone" placeholder="Телефон*">
    <button class="contacts__contacts-form-btn">хочу на бесплатное занятие</button>
</form>

</section>