<footer class="footer">
    <div class="footer__container container">
        <div class="footer__first-part">
        <div class="footer__logo-container">
            <a class="footer__logo-link link" href="./index.html">
                <span class="footer__logo">
                    Hell
                    <svg class="logo-fire">
                        <use href="./images/sprite.svg#icon-logo"></use>
                    </svg>
                    EN
                </span>
                <p class="footer__logo-text"><span class="footer__logo-part">Hellish</span>english</p>
            </a>
        </div>
        <div class="footer__address-container">
            <addres class="footer__address">
                <ul class="footer__address-list list">
                    <li class="footer__address-tel">
                        <a class="footer__number link" href="tel:+38(000)0000000">
                            <svg class="tel-icon">
                                <use href="./images/sprite.svg#icon-phone"></use>
                            </svg>
                            +38 (000) 000 00 00
                        </a>
                    </li>
                    <li class="footer__address-link">
                        <a class="footer__img-link link" href="">
                            <picture>
                                <source srcset="./images/footer/instagram-desktop.webp 1x, ./images/footer/instagram-desktop@2x.webp 2x"
                                    media="(min-width: 1366px)" type="image/webp" />
                                <source srcset="./images/footer/instagram-desktop.jpg 1x, ./images/footer/instagram-desktop@2x.jpg 2x"
                                    media="(min-width: 1366px)" />
                            
                                <source srcset="./images/footer/instagram-tablet.webp 1x, ./images/footer/instagram-tablet@2x.webp 2x"
                                    media="(min-width: 768px)" type="image/webp" />
                                <source srcset="./images/footer/instagram-tablet.jpg 1x, ./images/footer/instagram-tablet@2x.jpg 2x"
                                    media="(min-width: 768px)" />
                            
                                <source srcset="./images/footer/instagram-mobile.webp 1x, ./images/footer/instagram-mobile@2x.webp 2x"
                                    media="(max-width: 767px)" type="image/webp" />
                                <source srcset="./images/footer/instagram-mobile.jpg 1x, ./images/footer/instagram-mobile@2x.jpg 2x"
                                    media="(max-width: 767px)" />
                            
                                <img class="footer__img" src="#" alt="Instagram" />
                            </picture>
                        </a>
                    </li>
                </ul>
            </address>
        </div>
        </div>
        <div class="footer__rights-container">
            <p class="footer__rights">@ All rights reserved, 2019</p>
        </div>
    </div>
</footer>