<header class="header">
  <div class="header__container">
      <nav class="header__nav">
        
        <div class="container-logo">
          <div class="container-logo__top-text">
            hell
            <svg class="logo-fire">
              <use href="./imges/icons/sprite.svg#icon-logo"></use>
            </svg>
            en
          </div>
          <div class="container-logo__bottom-text">
            hellish english
          </div>
          </div>
          
        
        <ul class="header__menu list">
           <li class="header__menu-item">
             <a class="header__menu-link link" href="#program">studying program</a>
           </li>
            <li class="header__menu-item">
            <a class="header__menu-link link" href="#about">about</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link link" href="#training">training options</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link link" href="#contacts">contacts</a>
            </li>
        </ul>
     </nav>

     <button class="modal-btn" type="button" data-modal-open>consultation by phone</button>


       <button type="button" class="header__mobile-menu-btn" data-menu-button>
        <svg class="header__mobile-menu-icon">
          <use href="../images/sprite.svg#icon-menu"></use>
        </svg> 
       </button>
  </div> 

  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">

      <button type="button" class="mobile-menu__close-btn" data-menu-close>
        <svg class="mobile-menu__close-btn-icon">
          <use href="./imges/icons/sprite.svg#icon-closed"></use>
        </svg>
      </button>

      <ul class="mobile-menu__nav list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#program">studying program</a>
        </li>
         <li class="mobile-menu__item">
         <a class="mobile-menu__link link" href="#about">about</a>
         </li>
         <li class="mobile-menu__item">
           <a class="mobile-menu__link link" href="#training">training options</a>
         </li>
         <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#contacts">contacts</a>
        </li>
      </ul>

      <button class="mobile-menu__modal-btn" type="button" data-modal-open>consultation by phone</button>
    </div> 
  </div>
</header>