<header class="header">
  <div class="container header__container">
      <nav class="header__nav">
        

        <div class="container-logo">
          <div class="container-logo__top-text">
            hell
            <svg class="logo-fire">
              <use href="./images/sprite.svg#icon-logo"></use>

        <div class="logo-header">
          <div class="logo-header__container-top">
            Hell
            <svg class="logo-header__fire">
              <use href="./images/sprite.svg#icon-logo"></use>
            </svg>
            EN
          </div>
          <div class="logo-header__container-bottom">
            <span class="logo-header__text-orange">HELLISH</span> ENGLICH
          </div>
          </div>
          
        <div class="menu">
        <ul class="header__menu list">
           <li class="header__menu-item">
             <a class="header__menu-link link" href="#program">studying program</a>
           </li>
            <li class="header__menu-item">
            <a class="header__menu-link link" href="#about">about</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link link" href="#training">training options</a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link link" href="#contacts">contacts</a>
            </li>
        </ul>
        </div>
     </nav>

     <div class="header__btn">
      <button class="header__modal-btn" type="button" data-modal-open>consultation by phone</button>

      <button type="button" class="header__mobile-menu-btn" data-menu-button>
       <svg class="header__mobile-menu-icon">
         <use href="./images/sprite.svg#icon-menu"></use>
       </svg> 
      </button>
     </div>
    
</div>

    

<!--
       <button type="button" class="header__mobile-menu-btn" data-menu-button>
        <svg class="header__mobile-menu-icon">
          <use href="./images/sprite.svg#icon-menu"></use>
        </svg> 
       </button>
 

  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">

      <button type="button" class="mobile-menu__close-btn" data-menu-close>
        <svg class="mobile-menu__close-btn-icon">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <ul class="mobile-menu__nav list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#program">studying program</a>
        </li>
         <li class="mobile-menu__item">
         <a class="mobile-menu__link link" href="#about">about</a>
         </li>
         <li class="mobile-menu__item">
           <a class="mobile-menu__link link" href="#training">training options</a>
         </li>
         <li class="mobile-menu__item">
          <a class="mobile-menu__link link" href="#contacts">contacts</a>
        </li>
      </ul>

      
    </div> -->
  </div>
</header>