<section class="hero">
  <div class="hero__container-left">
     <h1 class="hero-title">Complex preparation for English UPE</h1>
        <p class="hero__first-text">It won’t be easy.</p>
        <p class="hero__second-text">But you are guaranteed to get <span class="hero__mark-text">+25 points</span></p>
          <button class="modal-btn modal-btn__hero" type="button" data-modal-open>i want a free lesson</button>
  </div>
  <div class="hero__container-right">
    <picture>
      <source srcset="./images/hero/desktop-hero.png 1x, ./images/hero/desktop-hero@2x.png 2x" media="(min-width: 1366px)">
      
      <source srcset="./images/hero/tablet-hero.png 1x, ./images/hero/tablet-hero@2x.png 2x" media="(min-width: 768px)">

      <source srcset="./images/hero/mobile-hero.png 1x, ./images/hero/mobile-hero@2x.png 2x" media="(max-width: 767px)">

      <img class="hero__img" src="#" alt="Фотография обучения">
    </picture>
  </div>
</section>