<section class="problem container">
    <p class="problem__title">The main problems of students
    in English UPE, which
    we <span class="problem__title--orange-theme">help</span> to solve</p>
    <ul class="problem-list list">
        <li class="problem-list__item link">
            <span class="problem-list__type">Grammar</span>
        </li>
        <li class="problem-list__item link">
            <span class="problem-list__type">Inability to understand
            spoken English</span>
        </li>
        <li class="problem-list__item link">
            <span class="problem-list__type">Stingy vocabulary for writing an essay</span>
        </li>
        <li class="problem-list__item link">
            <span class="problem-list__type">Preparing alone</span>
        </li>
        <li class="problem-list__item link">
            <span class="problem-list__type">Lack of a single knowledge resource</span>
        </li>
        <li class="problem-list__item link">
            <span class="problem-list__type">Lack of self-organization and laziness</span>
        </li>
    </ul>
</section>