<section>
    <p>The main problems of students
    in English UPE, which
    we help to solve</p>
    <ul class="problem-list">
        <li class="problem-list__item">
            <span>Grammar</span>
        </li>
        <li class="problem-list__item">
            <span>Inability to understand
            spoken English</span>
        </li>
        <li class="problem-list__item">
            <span>Stingy vocabulary for writing an essay</span>
        </li>
        <li class="problem-list__item">
            <span>Preparing alone</span>
        </li>
        <li class="problem-list__item">
            <span>Lack of a single knowledge resource</span>
        </li>
        <li class="problem-list__item">
            <span>Lack of self-organization and laziness</span>
        </li>
    </ul>
</section>