<section class="our-program" id="our-program">
    <div class="our-program__title-container">
        <h2 class="our-program__title">Our program</h2>
    </div>
    <div class="our-program__border-container">
        <div class="container our-program__container">
            <div class="first-container">
                <ul class="our-program__list list">
                    <li class="our-program__item">
                        <h3 class="our-program__item-title">1 semester</h3>
                        <ul class="our-program__description-list list">
                            <li class="our-program__description-item">
                                <h4 class="our-program__description-title">Grammar</h4>
                                <ul class="our-program__description-text-list list">
                                    <li class="our-program__description-text-item">Nouns & Articles</li>
                                    <li class="our-program__description-text-item">Adjectives & Adverb</li>
                                </ul>
                            </li>
                            <li class="our-program__description-item">
                                <h4 class="our-program__description-title">Vocabulary</h4>
                                <ul class="our-program__description-text-list list">
                                    <li class="our-program__description-text-item">Family & Relations</li>
                                    <li class="our-program__description-text-item">People & Society</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="our-program__item">
                        <h3 class="our-program__item-title">2 semester</h3>
                        <ul class="our-program__description-list list">
                            <li class="our-program__description-item">
                                <h4 class="our-program__description-title">Grammar</h4>
                                <ul class="our-program__description-text-list list">
                                    <li class="our-program__description-text-item">Pronouns</li>
                                    <li class="our-program__description-text-item">Active Voice</li>
                                    <li class="our-program__description-text-item">Passive Voice </li>
                                </ul>
                            </li>
                            <li class="our-program__description-item">
                                <h4 class="our-program__description-title">Vocabulary</h4>
                                <ul class="our-program__description-text-list list">
                                    <li class="our-program__description-text-item">Home</li>
                                    <li class="our-program__description-text-item">School</li>
                                    <li class="our-program__description-text-item">Work</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="our-program__item">
                        <h3 class="our-program__item-title">3 semester</h3>
                        <ul class="our-program__description-list list">
                            <li class="our-program__description-item">
                                <h4 class="our-program__description-title">Grammar</h4>
                                <ul class="our-program__description-text-list list">
                                    <li class="our-program__description-text-item">Modal verbs</li>
                                    <li class="our-program__description-text-item">Infinitive</li>
                                    <li class="our-program__description-text-item">Gerund</li>
                                    <li class="our-program__description-text-item">Participle: 1, 2</li>
                                </ul>
                            </li>
                            <li class="our-program__description-item">
                                <h4 class="our-program__description-title">Vocabulary</h4>
                                <ul class="our-program__description-text-list list">
                                    <li class="our-program__description-text-item">Travel & Tourism</li>
                                    <li class="our-program__description-text-item">Culture & Free Time</li>
                                    <li class="our-program__description-text-item">Sport</li>
                                </ul>
                            </li>
                            <li class="our-program__description-item">
                                <h4 class="our-program__description-title">Writing</h4>
                                <ul class="our-program__description-text-list list">
                                    <li class="our-program__description-text-item">Informal Letter</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="our-program__item">
                        <h3 class="our-program__item-title">4 semester</h3>
                        <ul class="our-program__description-list list">
                            <li class="our-program__description-item">
                                <h4 class="our-program__description-title">Grammar</h4>
                                <ul class="our-program__description-text-list list">
                                    <li class="our-program__description-text-item">Clauses: Conditional and Wishes</li>
                                    <li class="our-program__description-text-item">Direct / Reported speech</li>
                                    <li class="our-program__description-text-item">Preposition</li>
                                    <li class="our-program__description-text-item">Conjunction</li>
                                    <li class="our-program__description-text-item">Numeral</li>
                                </ul>
                            </li>
                            <li class="our-program__description-item">
                                <h4 class="our-program__description-title">Vocabulary</h4>
                                <ul class="our-program__description-text-list list">
                                    <li class="our-program__description-text-item">Healthy Living</li>
                                    <li class="our-program__description-text-item">Nature & Environment</li>
                                    <li class="our-program__description-text-item">Money</li>
                                </ul>
                            </li>
                            <li class="our-program__description-item">
                                <h4 class="our-program__description-title">Writing</h4>
                                <ul class="our-program__description-text-list list">
                                    <li class="our-program__description-text-item">Formal Letter</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="our-program__item">
                        <h3 class="our-program__item-title">5 semester</h3>
                        <ul class="our-program__description-list list">
                            <li class="our-program__description-item">
                                <h4 class="our-program__description-title hidden-content">nothing</h4>
                                <ul class="our-program__description-text-list list">
                                    <li class="our-program__description-text-item">Revision<br>Tests</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="second-container">
                <h2 class="choose-us__title">Why do people choose us</h2>
                <ol class="choose-us__list list">
                    <li class="choose-us__item">
                        <p class="choose-use__description">
                            Training in small groups
                        </p>
                    </li>
                    <li class="choose-us__item">
                        <p class="choose-use__description">
                            Rendered notes
                        </p>
                    </li>
                    <li class="choose-us__item">
                        <p class="choose-use__description">
                            Each lesson has a goal and a specific result
                        </p>
                    </li>
                    <li class="choose-us__item">
                        <p class="choose-use__description">
                            The real results of the teacher
                        </p>
                    </li>
                    <li class="choose-us__item">
                        <p class="choose-use__description">
                            The course program meets the requirements of the MES of Ukraine
                        </p>
                    </li>
                    <li class="choose-us__item">
                        <p class="choose-use__description">
                            Set of groups by level of knowledge
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>