<section class="reviews">
    <div class="container container-reviews">
        <h2 class="reviews__tittle">Feedback from graduates</h2>
        <div class="graduates">
            <div class="graduates__pictures">

                <!-- <picture class="picture">
                     <source srcset="/images/reviews/descktop-ellipse-8.png, /images/reviews/descktop-ellipse-8@2x.png"

                <!-- <picture class="picture"> -->
                     <!-- <source srcset="./images/about-us/team-desktop-icon-x1-1.jpg, ./images/about-us/team-desktop-icon-x2-1.jpg"

                                media="(min-width: 1200px)">
                            <source srcset="/images/reviews/tablet-ellipse-8.png, /images/reviews/tablet-ellipse-8@2x.png"
                                media="(min-width: 768px)">
                            <source srcset="/images/reviews/mobile-ellipse-8.png, /images/reviews/mobile-elipse-8@2x.png"
                                media="(min-width: 280px)"> -->
                     <img class="graduates__pictures-img" src="/images/reviews/descktop-ellipse-8.png" alt="Фото клиента">
                <!-- </picture>  -->
                <a href="https://vk.com/" class="reviews-social-link link" target="_blank" rel="noopener noreferrer">
                <svg class="feeback-social-icon">
                    <use href="/images/sprite.svg#icon-vector-vk"></use>
                </svg> 
                </a>
            </div>
            <div class="graduates__description">
                <h3 class="graduates__description-tittle">Tonya Kucherovskaya</h3>
                <p class="graduates__description-history">Graduated from 2015, National University of Bioresources
                    and natural history of Ukraine
                </p>
                <p class="graduates__description-about">
                    In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the
                    first lesson I
                    realized that I was on my plate. Elena and I became friends because she was really worried about my
                    success. She became
                    an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can
                    brag that I'm
                    student ... <a href="#" class="review__description-link">Read more</a>
                </p>
            </div>
        </div>
        <div class="people-history">
            
            <ul class="people list">
                <li class="people__item">
                    <!-- <picture class="picture"> 
                        <source srcset="/images/reviews/descktop-ellipse-9.png, /images/reviews/descktop-ellipse-9@2x.png"
                                    media="(min-width: 1366px)">
                        <source srcset="/images/reviews/mobile-ellipse-9.png, /images/reviews/tablet-ellipse-9.webp"
                                    media="(min-width: 768px)">
                        <source srcset="/images/reviews/tablet-ellipse-9.png, /images/reviews/tablet-ellipse-9@2x.png"
                                    media="(min-width: 280px)">  -->
                            <img class="people__item-img" src="/images/reviews/descktop-ellipse-9.png" alt="Фото клиента"> 
                    <!-- </picture>  -->
                </li>

                <li class="people__item">
                    <!-- <picture class="picture"> 
                                        <source srcset="/images/reviews/descktop-ellipse-10.png, /images/reviews/descktop-ellipse-10@2x.png"
                                                    media="(min-width: 1366px)">
                                        <source srcset="/images/reviews/mobile-ellipse-10.png, /images/reviews/tablet-ellipse-10.webp"
                                                    media="(min-width: 768px)">
                                        <source srcset="/images/reviews/tablet-ellipse-10.png, /images/reviews/tablet-ellipse-10@2x.png"
                                                    media="(min-width: 280px)">  -->
                    <img class="people__item-img" src="/images/reviews/descktop-ellipse-10.png" alt="Фото клиента">
                    <!-- </picture>  -->
                </li>

                <li class="people__item">
                    <!-- <picture class="picture"> 
                                        <source srcset="/images/reviews/descktop-ellipse-11.png, /images/reviews/descktop-ellipse-11@2x.png"
                                                    media="(min-width: 1366px)">
                                        <source srcset="/images/reviews/mobile-ellipse-11.png, /images/reviews/tablet-ellipse-11.webp"
                                                    media="(min-width: 768px)">
                                        <source srcset="/images/reviews/tablet-ellipse-11.png, /images/reviews/tablet-ellipse-11@2x.png"
                                                    media="(min-width: 280px)">  -->
                    <img class="people__item-img" src="/images/reviews/descktop-ellipse-11.png" alt="Фото клиента">
                    <!-- </picture>  -->
                </li>

                <li class="people__item">
                    <!-- <picture class="picture"> 
                                                        <source srcset="/images/reviews/descktop-ellipse-12.png, /images/reviews/descktop-ellipse-12@2x.png"
                                                                    media="(min-width: 1366px)">
                                                        <source srcset="/images/reviews/mobile-ellipse-12.png, /images/reviews/tablet-ellipse-12.webp"
                                                                    media="(min-width: 768px)">
                                                        <source srcset="/images/reviews/tablet-ellipse-12.png, /images/reviews/tablet-ellipse-12@2x.png"
                                                                    media="(min-width: 280px)">  -->
                    <img class="people__item-img" src="/images/reviews/descktop-ellipse-12.png" alt="Фото клиента">
                    <!-- </picture>  -->
                </li>

                <li class="people__item">
                    <!-- <picture class="picture"> 
                                                        <source srcset="/images/reviews/descktop-ellipse-13.png, /images/reviews/descktop-ellipse-13@2x.png"
                                                                    media="(min-width: 1366px)">
                                                        <source srcset="/images/reviews/mobile-ellipse-13.png, /images/reviews/tablet-ellipse-13.webp"
                                                                    media="(min-width: 768px)">
                                                        <source srcset="/images/reviews/tablet-ellipse-13.png, /images/reviews/tablet-ellipse-13@2x.png"
                                                                    media="(min-width: 280px)">  -->
                    <img class="people__item-img" src="/images/reviews/descktop-ellipse-13.png" alt="Фото клиента">
                    <!-- </picture>  -->
                </li>

                <li class="people__item">
                    <!-- <picture class="picture"> 
                                                        <source srcset="/images/reviews/descktop-ellipse-14.png, /images/reviews/descktop-ellipse-14@2x.png"
                                                                    media="(min-width: 1366px)">
                                                        <source srcset="/images/reviews/mobile-ellipse-14.png, /images/reviews/tablet-ellipse-14.webp"
                                                                    media="(min-width: 768px)">
                                                        <source srcset="/images/reviews/tablet-ellipse-14.png, /images/reviews/tablet-ellipse-14@2x.png"
                                                                    media="(min-width: 280px)">  -->
                    <img class="people__item-img" src="/images/reviews/descktop-ellipse-14.png" alt="Фото клиента">
                    <!-- </picture>  -->
                </li>

                <li class="people__item">
                    <!-- <picture class="picture"> 
                                                        <source srcset="/images/reviews/descktop-ellipse-15.png, /images/reviews/descktop-ellipse-15@2x.png"
                                                                    media="(min-width: 1366px)">
                                                        <source srcset="/images/reviews/mobile-ellipse-15.png, /images/reviews/tablet-ellipse-15.webp"
                                                                    media="(min-width: 768px)">
                                                        <source srcset="/images/reviews/tablet-ellipse-15.png, /images/reviews/tablet-ellipse-15@2x.png"
                                                                    media="(min-width: 280px)">  -->
                    <img class="people__item-img" src="/images/reviews/descktop-ellipse-15.png" alt="Фото клиента">
                    <!-- </picture>  -->
                </li>

                


            </ul>
        </div>

    </div>
</section>