.contacts {
    padding-top: 56px;
    padding-bottom: 55px;
    background: rgba(17, 21, 24, 1);
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(17, 21, 24, 0.800),
        rgba(17, 21, 24, 0.800)
        ),
        url("../images/contacts/mobile-footer-bgi.jpg"), url("../images/contacts/mobile-footer-bgi.webp"), url("../images/contacts/mobile-footer-bgi@2x.jpg"), url("../images/contacts/mobile-footer-bgi@2x.webp");
    
}

.contacts__title {
    // width: 280px;
    margin-bottom: 24px;
    font-family: var(--main-font);
    font-weight: 800;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.contacts__title__text-accent {
color: var(--accent-color);
}

.contacts__contacts-paragraph {
    margin-bottom: 43px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--second-text-color);
}

.contacts__form-input__name{
    margin-bottom: 20px;
}

.contacts__form-input__phone {
    margin-bottom: 50px;
}

.contacts__form {
    display: block;
}

.contacts__form-input__name,
.contacts__form-input__phone {
    padding-left: 28px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.08em;
    color: var(--second-text-color);
    width: 280px;
    height: 48px;
    border: 1px solid var(--second-text-color);
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);

    &::placeholder {
        color: var(--second-text-color);
    }
}


.contacts__form-btn {
    margin-left: 10px;
    min-width: 260px;
    height: 48px;
    background: #FF6B09;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--second-text-color);
    border: none;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .contacts {
        padding-top: 66px;
        padding-bottom: 67px;
        content: '';
        background-size: cover;
        background-repeat: no-repeat;
        background: rgba(17, 21, 24, 1);
        background-image: linear-gradient(
            to right,
            rgba(17, 21, 24, 0.800),
            rgba(17, 21, 24, 0.800)
          ),
            url("../images/contacts/tablet-footer-bgi.jpg"), url("../images/contacts/tablet-footer-bgi.webp"), url("../images/contacts/tablet-footer-bgi@2x.jpg"), url("../images/contacts/tablet-footer-bgi@2x.webp");
        
    }

    .contacts__title {
        margin-bottom: 50px;
        font-family: var(--main-font);
        font-size: 26px;
        line-height: 1.3;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
    }
    
    .contacts__title__text-accent {
    color: var(--accent-color);
    }

    .contacts__contacts-paragraph {
        padding-left: 118px;
        padding-right: 118px;
        margin-bottom: 23px;
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
        text-align: center;
        letter-spacing: 0.08em;
        color: var(--second-text-color);
    }

      
    .contacts__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts__form-input__name{
        margin-bottom: 20px;
    }
    
    .contacts__form-input__phone {
        margin-bottom: 31px;
    }

    .contacts__form-input__name,
    .contacts__form-input__phone {
        padding-left: 28px;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.25;
        align-items: center;
        letter-spacing: 0.08em;
        color: var(--second-text-color);
        width: 390px;
        height: 48px;
        border: 1px solid var(--second-text-color);
        box-sizing: border-box;
        background-color: rgba(0,0,0,0);

        &::placeholder {
            color: var(--second-text-color);
        }
    }

        .contacts__form-btn {
        width: 260px;
        height: 48px;
        background: #FF6B09;
        font-family: var(--main-font);
        font-weight: bold;
        font-size: 14px;
        line-height: 1.21;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: var(--second-text-color);
        border: none;
        cursor: pointer;
        }
}

@media screen and (min-width: 1366px) {
    .contacts {
        padding-top: 100px;
        padding-bottom: 62px;
        content: '';
        background-size: cover;
        background-repeat: no-repeat;
        background: rgba(17, 21, 24, 1);
        background-image: linear-gradient(
            to right,
            rgba(17, 21, 24, 0.800),
            rgba(17, 21, 24, 0.800)
          ),
            url("../images/contacts/descktop-footer-bgi.jpg"), url("../images/contacts/descktop-footer-bgi.webp"), url("../images/contacts/descktop-footer-bgi@2x.jpg"), url("../images/contacts/descktop-footer-bgi@2x.webp");    
    }
    .contacts__title {
        margin-bottom: 50px;
        font-family: var(--main-font);
        font-size: 46px;
        line-height: 1.3;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
    }
    
    .contacts__title__text-accent {
    color: var(--accent-color);
    }

    .contacts__contacts-paragraph {
        padding-left: 118px;
        padding-right: 118px;
        margin-bottom: 56px;
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 30px;
        line-height: 1.23;
        text-align: center;
        letter-spacing: 0.08em;
        color: var(--second-text-color);
    }

      
    .contacts__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts__form-input__name{
        margin-bottom: 30px;
    }
    
    .contacts__form-input__phone {
        margin-bottom: 80px;
    }

    .contacts__form-input__name,
    .contacts__form-input__phone {
        padding-left: 28px;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.25;
        align-items: center;
        letter-spacing: 0.08em;
        color: var(--second-text-color);
        width: 478px;
        height: 70px;
        border: 1px solid var(--second-text-color);
        box-sizing: border-box;
        background-color: rgba(0,0,0,0);

        &::placeholder {
            color: var(--second-text-color);
        }
    }

        .contacts__form-btn {
        width: 354px;
        height: 70px;
        background: #FF6B09;
        font-family: var(--main-font);
        font-weight: bold;
        font-size: 20px;
        line-height: 1.20;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: var(--second-text-color);
        border: none;
        cursor: pointer;
        }
}
