.problem {
  background: linear-gradient(to bottom, #111518 80%, #ffffff 20%);
  counter-reset: section;
  margin-bottom: 50px;

  &__title {
    font-family: var(--main-font);
    font-weight: 800;
    font-size: 24px;
    line-height: 1.29;
    letter-spacing: 0.03em;
    color: #ffffff;
    // max-width: 259px;
    // padding-top: 25px;
    margin-bottom: 25px;
  }

  &__title--orange-theme {
    color: var(--accent-color);
  }
}

.problem-list {
  background-color: #ffffff;
  padding-top: 19px;
  padding-left: 30px;
  padding-right: 14px;
  padding-bottom: 19px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  &__item::before {
    counter-increment: section;
    content: '—' ' ' counter(section, decimal-leading-zero);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;
    color: #ff6b09;
    display: block;
    margin-bottom: 5px;
  }

  &__type {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.08em;
    color: #111518;
  }
}

@media screen and (max-width: 767px) {
  .problem-list {
    padding-top: 19px;

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .problem__title {
    letter-spacing: 0.02em;
    max-width: 255px;
    padding-top: 25px;
    // margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .problem {
    background: linear-gradient(to bottom, #111518 70%, #ffffff 30%);
    margin: 0 auto;

    &__title {
      padding-top: 60px;
      text-align: left;
      width: 420px;
      margin-bottom: 25px;
    }
  }

  .problem-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 26px;
    padding-right: 47px;
    padding-bottom: 30px;
    padding-left: 96px;

    &__item {
      width: 236px;
      margin-top: 24px;
      margin-right: 22px;
    }

    &__item:nth-child(-n + 2) {
      margin-top: 0;
    }
  }
}
