.reviews {
  font-family: var(--main-font);
  text-align: center;
}

.reviews__tittle {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;
}

.container-reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}

.graduates__pictures {
  &-img {
    margin-top: 24px;
    height: 90px;
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.feeback-social-icon {
  width: 30px;
  height: 17px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  fill: rgba(67, 110, 171, 1);
}

.graduates__description {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  &-tittle {
    color: var(--accent-color);
    margin-top: 30px;
    line-height: 1.21;
    font-size: 14px;
    font-weight: 800;
  }
  &-history {
    color: #b9b9b9;
    margin-top: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.21;
  }
  &-about {
    font-size: 12px;
    line-height: 1.66;
    font-weight: 500;
    color: #3d3d3d;
    margin-top: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.review__description-link {
  color: var(--accent-color);
}

.people {
  margin-top: 62px;
  display: flex;
  justify-content: center;
  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.people__item:nth-last-of-type(1),
.people__item:nth-last-of-type(2),
.people__item:nth-last-of-type(6),
.people__item:nth-last-of-type(7) {
  display: none;
}

.people__item-img {
  width: 54px;
  height: 54px;
}

@media screen and (min-width: 768px) {
  .graduates {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-top: 40px;
    text-align: left;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }

  .reviews__tittle {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .graduates__pictures {
    width: 150px;
    margin-right: 46px;
  }

  .graduates__pictures-img {
    height: 150px;
    width: 150px;
    margin-top: 0;
  }

  .feeback-social-icon {
    margin-top: 26px;
  }

  .graduates__description {
    width: 100%;
    text-align: left;
  }

  .graduates__description-tittle {
    margin-top: 0px;
    font-size: 20px;
  }

  .graduates__description {
    &-tittle {
      color: var(--accent-color);
      line-height: 1.21;
      font-size: 20px;
      font-weight: 800;
    }
  }

  .graduates__description-history {
    text-align: left;
    margin-top: 20px;
  }

  .graduates__description-about {
    text-align: left;
    margin-top: 20px;
  }

  .people {
    margin-top: 30px;
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  .people__item:nth-last-of-type(1),
  .people__item:nth-last-of-type(2),
  .people__item:nth-last-of-type(6),
  .people__item:nth-last-of-type(7) {
    display: block;
  }
}

@media screen and (min-width: 1366px) {
  .container-reviews {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .reviews__tittle {
    font-size: 46px;
  }

  .graduates {
    padding-left: 82px;
    padding-right: 120px;
    padding-bottom: 51px;
    padding-top: 50px;
  }

  .graduates__description-tittle {
    font-size: 30px;
  }

  .graduates__description-history {
    display: block;
    width: 482px;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
  }

  .graduates__description-about {
    font-size: 18px;
  }

  .graduates__description-about {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.55;
    display: block;
    width: 852px;
  }

  .people {
    margin-top: 40px;
  }
}
